/* .card-hero {
  width: 23%;
} */

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #aaa;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  /* min-height: 200px; */
  border: 2px #ccc solid;
  color: #fff;
}

.logo {
  width: 45px;
}